<%- include('../layouts/header') %>
<%- include('../layouts/navbar') %>

<div class="container my-5 text-center">
  <h1>Resume</h1>
  <p>Click the button below to download my resume (PDF).</p>
  <a href="/files/Sharma_Resume.pdf" class="btn btn-primary btn-lg" download>Download CV</a>
</div>

<%- include('../layouts/footer') %>